@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Fredoka", sans-serif;
    background: radial-gradient(#2d2d2d, #232323, #191919, #0f0f0f);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

input, select{
    border-radius: .5rem;
    border: 1px transparent;
}

select{
    padding: .125rem;
    color: rgb(75, 75, 75);
}

input[type="date"], select{
    cursor: pointer;
    color: rgb(75, 75, 75);
}

p, label{
    font-weight: bold;
}

h1, a, ::placeholder, p, label{
    font-family: "Fredoka", sans-serif;
}

.index-btn, .login-btn{
    text-decoration: none;
    background-color: #EED202; 
    color: black;
    font-weight: bold;
    padding: .75rem 1.5rem;
    transition: transform 200ms ease-in-out;
}

.index-btn:hover, .login-btn:hover{
    color: black;
    text-decoration: none;
    background-color: white;
    transform: translateY(-.25rem);
}

.forms{
    display: flex;
    flex-direction: row;
}

.btn{
    font-weight: bold;
    transition: all 0.3s ease 0.1s;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
}

.btn:hover{
    transform:scale(1.1);
}

.volunteer{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.institution{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}